.navbar{
    background-color:white;
    padding: 23px;
    box-shadow: 1px 1px 16px rgba(0,0,0,0.3);
    color:royalblue ;  
}
.navbar h1{
    float: left;
}
.navbar input{
    margin: auto;
    width:60%;
    height: 37px;
    border-radius:19px;
    border:none;
    padding-left:13px;
    background-color:rgb(233, 233, 233);
}
.navbar input:focus{
    background-color:white;
    outline:none;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.5);
}